node_modules/
dist/
*.log
.env
documentacion/

# Permitir ejecutables en la carpeta de builds finales
!farma-desktop/builds_finales/*.exe
!farma-desktop/builds_finales/*.AppImage
!farma-desktop/builds_finales/*.deb
!farma-mobile/builds_finales/*.apk
